# Auto detect text files and perform LF normalization
* text=auto

# Specify text files to ensure LF normalization
*.c text
*.cpp text
*.h text
*.ino text
*.js text
*.json text
*.md text
*.yml text
*.yaml text
*.html text
*.css text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
